// colors
$primary-color: #1e6b9e;
$secondary-color: #f0f0c9;
$accent-color: #85c1e9;
$body-color: #f8f9f9;
$text-color-dark: #17202a;
$text-color-light: #e5e5e5;

// breakpoints
$ultra-large-screen: 1921px;
$extra-large-screen: 1440px;
$large-screen: 1280px;
$medium-screen: 768px;
$small-screen: 600px;
$extra-small-screen: 480px;
$ultra-small-screen: 320px;
